@using AnimeFeedManager.Features.Seasons.Types
@using System.Collections.Immutable

@if (!Seasons.IsEmpty)
{
    <nav>
        <ul tabindex="0" class="flex justify-center items-center space-x-5">
            @foreach (var season in Seasons)
            {
                <li class="flex flex-col items-center">
                    <h3 class="text-base">@season.Season.ToString().ToUpperInvariant() @season.Year.ToString()</h3>
                    <span class="flex flex-nowrap space-x-1">
                        <NavLink class="link link-hover text-xs" ActiveClass="font-bold text-secondary-focus" href="@GetLink(season, SeriesType.Tv)" Match="NavLinkMatch.All">
                            TV
                        </NavLink>
                        <NavLink class="link link-hover text-xs" ActiveClass="font-bold text-secondary-focus" href="@GetLink(season, SeriesType.Ova)" Match="NavLinkMatch.All">
                            OVAS
                        </NavLink>
                        <NavLink class="link link-hover text-xs" ActiveClass="font-bold text-secondary-focus" href="@GetLink(season, SeriesType.Movie)" Match="NavLinkMatch.All">
                            MOVIES
                        </NavLink>
                    </span>

                </li>
            }
        </ul>
    </nav>
}


@code {

    [Parameter] public ImmutableList<SeasonWrapper> Seasons { get; set; } = ImmutableList<SeasonWrapper>.Empty;

    private string GetLink(SeasonWrapper season, SeriesType seriesType) => $"{season.Season}-{season.Year}/{seriesType.AsPlural()}";

}