@using AnimeFeedManager.Features.Seasons.Types
@using System.Collections.Immutable
@using AnimeFeedManager.Features.Seasons


@inject ILogger<SeriesGrid> Logger;
@inject SeasonsGetter SeasonGetter

<SeasonLinks Seasons="_lastSeasons"></SeasonLinks>
<h1 class="text-bold text-2xl my-2 ml-2 md:ml-10">@SeriesType.AsPluralText().ToUpperInvariant()</h1>
@if (CurrentSeason is not DefaultSeasonInformation)
{
    <div class="text-sm breadcrumbs ml-2 md:ml-10">
        <ul>
            <li>
                <span>@CurrentSeason.Season.ToString().ToUpperInvariant() @CurrentSeason.Year.ToString()</span>
            </li>
            <li>
                <NavLink class="link link-hover" ActiveClass="link-primary font-bold text-secondary-focus" href="@GetLink(SeriesType.Tv)" Match="NavLinkMatch.All">
                    TV
                </NavLink>
            </li>
            <li>
                <NavLink class="link link-hover" ActiveClass="link-primary font-bold text-secondary-focus" href="@GetLink(SeriesType.Ova)" Match="NavLinkMatch.All">
                    Ovas
                </NavLink>
            </li>
            <li>
                <NavLink class="link link-hover" ActiveClass="link-primary font-bold text-secondary-focus" href="@GetLink(SeriesType.Movie)" Match="NavLinkMatch.All">
                    Movies
                </NavLink>
            </li>

        </ul>
    </div>
}

@code {
    private ImmutableList<SeasonWrapper> _lastSeasons = ImmutableList<SeasonWrapper>.Empty;
    
    [Parameter, EditorRequired] public SeriesType SeriesType { get; set; } = SeriesType.None;
    [Parameter, EditorRequired] public SeasonInformation CurrentSeason { get; set; } = new DefaultSeasonInformation();

    protected override async Task OnInitializedAsync()
    {
        var seasonResults = await SeasonGetter.GetLastSeasons();
        _lastSeasons = seasonResults
            .LogErrors(Logger)
            .Match(
                seasons => seasons,
                _ => ImmutableList<SeasonWrapper>.Empty
            );
    }

    private string GetLink(SeriesType seriesType) => $"{CurrentSeason.Season.ToString()}-{CurrentSeason.Year.ToString()}/{seriesType.AsPlural()}";
}