<article class="flex flex-nowrap drop-shadow-md border border-neutral w-full h-60 max-h-60 relative">
    <div class="absolute top-0 left-0">
        @switch (Anime)
        {
            case AnimeForUser { IsAdmin: true } anime:
                <AdminTvControls TvAnimeInfo="anime"/>
                break;
        }
    </div>
    <img class="object-cover w-44" src="@Anime.ImageUrl" alt="@Anime.Title"/>
    <div class="basis-3/4 flex flex-nowrap flex-col max-h-full">
        <h2 class="basis-[5%] mx-4 mt-2 text-base font-bold ">@Anime.Title</h2>
        <p class="basis-[78%] mx-4 my-2 text-sm text-justify max-h-full overflow-y-auto scrollbar pr-3 break-all">
            @if (!string.IsNullOrEmpty(Anime.Synopsis))
            {
                @Anime.Synopsis
            }
            else
            {
                <span class="text-warning">Synopsis Not Available</span>
            }
        </p>
        <footer class="basis-[17%] bg-neutral px-4 pt-1">
            @switch (Anime)
            {
                case BaseTvAnime anime:
                    <TvControls Anime="@anime"></TvControls>
                    break;
                case BaseOva ova:
                    <OvasControls Ova="@ova"/>
                    break;
                case BaseMovie movie:
                    <MovieControls Movie="@movie"/>
                    break;
                default:
                    <div class="badge badge-error gap-2">
                        <span >Nothing Yet!</span>
                    </div>
                    break;
            }

        </footer>
    </div>
</article>

@code {
    [Parameter, EditorRequired] public BaseAnime Anime { get; set; } = new NullAnime();
    [Parameter] public bool ForAdmin { get; set; }

    [Parameter]
    public RenderFragment AdminContent { get; set; } = @<span>No content here!</span>;

}