@page "/Seasons"
@using AnimeFeedManager.Features.Seasons.Storage
@inject ITableClientFactory TableClientFactory;
@inject ILogger<SeasonsPage> Logger;

<PageTitle>@(PageTitle("Seasons")))</PageTitle>
<h1 class="text-bold text-2xl my-2 ml-2 md:ml-10 uppercase">Available Seasons</h1>
@if (!_errorFetching && _seasons.Length > 0)
{
    
        <section class="grid grid-cols-[repeat(auto-fit,minmax(300px,0.9fr))] justify-center gap-8 px-2 md:px-10 py-2 md:py-4 mt-8">
            @foreach (var season in _seasons)
            {
                <article class="card rounded-2xl overflow-hidden min-h-72 bg-cover bg-center"
                         style="background-image: url('/images/seasons/@(GetSeasonImage(season.Season))')">
                    <div class="card-body relative mt-auto bg-base-100/30 text-gray-900">
                        <h2 class="badge badge-neutral badge-xl uppercase text-xl font-normal">
                            @season.Season
                        </h2>
                        <div class="flex flex-wrap gap-2 mt-2">
                            @foreach (var year in season.Years)
                            {
                                <NavLink class="@($"btn btn-sm {(IsCurrentSeason(season.Season, year) ? "btn-primary" : "")}")"
                                         href="@GetSeasonLink(season.Season, year)">
                                    @year.ToString()
                                </NavLink>
                            }
                        </div>
                    </div>
                </article>
            }
        </section>
}
else
{
    <WarnBanner Title="Seasons Available" Description="There is no season information available"/>
}

@code {
    private SeasonGroup[] _seasons = [];
    private bool _errorFetching;

    protected override async Task OnInitializedAsync()
    {
        await TableClientFactory.TableStorageAllSeasonsGetter(CancellationToken.None)
            .FlushLogs(Logger)
            .Match(
                seasons => { 
                    _seasons = seasons
                        .GroupBy(s => s.Season)
                        .Select(g => new SeasonGroup(
                            g.Key, 
                            g.Select(s => s.Year).OrderByDescending(y => y.Value).ToArray()
                        ))
                        .OrderBy(sg => sg.Season) // Or your preferred sort order
                        .ToArray();
                    _errorFetching = false;
                },
                _ => { 
                    _errorFetching = true;
                });
    }
    
    private static string GetSeasonLink(Season season, Year year) => $"{season}-{year}/tv";

    private static string GetSeasonImage(Season season) => season switch
    {
        _ when season == Season.Fall() => "autumn.svg",
        _ => $"{season}.svg"
    };

    private static bool IsCurrentSeason(Season season, Year year) =>
        season == Season.Current && year.Value == DateTime.UtcNow.Year;

}
