@using System.Collections.Immutable
@using AnimeFeedManager.Features.Seasons.Queries
@using AnimeFeedManager.Features.Seasons.Storage
@inject ITableClientFactory TableClientFactory
@inject ILogger<SeasonLinks> Logger;

@if (_seasons.Count > 0)
{
    <nav class="text-center">
        <ul tabindex="0" class="justify-center items-center space-x-5 hidden md:flex">
            @foreach (var season in _seasons)
            {
                <li class="flex flex-col items-center">
                    <h3 class="text-sm md:text-base">@season.Season.ToString().ToUpperInvariant() @season.Year.ToString()</h3>
                    <span class="flex flex-col md:flex-row flex-nowrap md:space-x-1 w-full md:w-auto">
                        <NavLink class="link link-hover text-xs"
                                 ActiveClass="link-primary font-bold text-secondary-focus"
                                 href="@GetLink(season, SeriesType.Tv)" Match="NavLinkMatch.All">
                            TV
                        </NavLink>
                        @* TODO: For this version we will not support other series than TV *@
                        @* <NavLink class="link link-hover text-xs" *@
                        @*          ActiveClass="link-primary font-bold text-secondary-focus" *@
                        @*          href="@GetLink(season, SeriesType.Ova)" Match="NavLinkMatch.All"> *@
                        @*     OVAS *@
                        @* </NavLink> *@
                        @* <NavLink class="link link-hover text-xs" *@
                        @*          ActiveClass="link-primary font-bold text-secondary-focus" *@
                        @*          href="@GetLink(season, SeriesType.Movie)" Match="NavLinkMatch.All"> *@
                        @*     MOVIES *@
                        @* </NavLink> *@
                    </span>

                </li>
            }
        </ul>
        <NavLink class="link link-hover text-base text-accent mt-6 md:hidden" href="seasons" Match="NavLinkMatch.All">
            Available seasons
        </NavLink>
    </nav>

    <h1 class="text-bold text-2xl my-2 ml-2 md:ml-10 uppercase">@SeriesType.Tv.AsPlural()</h1>
    <div class="flex justify-between">

        <div class="text-sm breadcrumbs ml-2 md:ml-10">
            <ul>
                <li>
                    <span class="uppercase">@SelectedSeason.Season.ToString() @SelectedSeason.Year.ToString()</span>
                </li>
                <li>
                    <NavLink class="link link-hover" ActiveClass="link-primary font-bold text-secondary-focus"
                             href="@GetLink(SelectedSeason, SeriesType.Tv)" Match="NavLinkMatch.All">
                        TV
                    </NavLink>
                </li>
                @* TODO: For this version we will not support other series than TV *@
                @* <li> *@
                @*     <NavLink class="link link-hover" ActiveClass="link-primary font-bold text-secondary-focus" *@
                @*              href="@GetLink(SelectedSeason, SeriesType.Ova)" Match="NavLinkMatch.All"> *@
                @*         Ovas *@
                @*     </NavLink> *@
                @* </li> *@
                @* <li> *@
                @*     <NavLink class="link link-hover" ActiveClass="link-primary font-bold text-secondary-focus" *@
                @*              href="@GetLink(SelectedSeason, SeriesType.Movie)" Match="NavLinkMatch.All"> *@
                @*         Movies *@
                @*     </NavLink> *@
                @* </li> *@

            </ul>
        </div>

    </div>
}


@code {

    private ImmutableList<SeriesSeason> _seasons = ImmutableList<SeriesSeason>.Empty;
    [Parameter, EditorRequired] public SeriesSeason SelectedSeason { get; set; } = new(Season.Current, Year.Current);

    protected override async Task OnInitializedAsync()
    {
        await SeasonQueries
            .GetLast4Seasons(TableClientFactory.TableStorageLatest4SeasonsGetter(Logger), CancellationToken.None)
            .LogErrors(Logger)
            .Match(seasons => { _seasons = seasons; },
                _ => { _seasons = []; });
    }

    private static string GetLink(SeriesSeason season, SeriesType seriesType) => $"{season.Season}-{season.Year}/{seriesType.AsPlural()}";
}