@using AnimeFeedManager.Old.Common.Domain.Errors
@if (ControlData is not null)
{
    <WithMessage Message="@Message" DomainError="@DomainError">
        <Content>
            <form hx-post="ovas/unsubscribe"
                  hx-swap="outerHTML"
                  hx-indicator="@ControlData.LoaderSelector"
                  hx-confirm="@($"Do you want to stop notifications for {ControlData.Title}?")">
                <AntiforgeryToken/>
                <GridFilterMetadataHolder Filters="@GetFilters(ControlData)"/>
                <fieldset class="flex flex-nowrap items-center justify-between">
                    <div class="tooltip tooltip-accent" data-tip="Subscribed">
                        <div class="badge badge-accent"></div>
                    </div>
                    <div>
                        <input type="hidden" name="@nameof(OvaControlData.Title)" @bind="ControlData.Title"/>
                        <input type="hidden" name="@nameof(OvaControlData.UserId)" @bind="ControlData.UserId"/>
                        <input type="hidden" name="@nameof(OvaControlData.NotificationTime)" @bind="ControlData.NotificationTime"/>
                        <input type="hidden" name="@nameof(OvaControlData.LoaderSelector)" @bind="ControlData.LoaderSelector"/>
                        <input type="hidden" name="@nameof(OvaControlData.HasFeed)" value="@ControlData.HasFeed.ToString()"/>
                        <button type="submit" class="btn btn-secondary btn-xs">Remove <span class="hidden md:contents">from Notifications</span></button>
                    </div>
                </fieldset>
            </form>
        </Content>
    </WithMessage>
}

@code {

    [Parameter, EditorRequired] public OvaControlData? ControlData { get; set; }
    [Parameter] public string Message { get; set; } = string.Empty;
    [Parameter] public DomainError? DomainError { get; set; }

    private IReadOnlyDictionary<string, object> GetFilters(OvaControlData data)
    {
        return data.HasFeed
            ? new Dictionary<string, object>([Attributes.HasFeed, Attributes.Subscribed]).AsReadOnly()
            : new Dictionary<string, object>([Attributes.Subscribed]).AsReadOnly();
    }

}