@using System.Collections.ObjectModel
@if (ControlData is not null)
{
    <WithMessage Message="@Message" DomainError="@DomainError">
        <Content>
            <form hx-post="ovas/subscribe"
                  hx-swap="outerHTML"
                  hx-indicator="@ControlData.LoaderSelector"
                  hx-confirm="@($"Do you want to add {ControlData.Title} for notifications?")">
                <AntiforgeryToken/>
                <GridFilterMetadataHolder Filters="@GetFilters(ControlData)"/>
                <fieldset class="flex flex-nowrap items-center justify-between">
                    <div class="tooltip tooltip-success " data-tip="Available">
                        <div class="badge badge-success"></div>
                    </div>
                    <div>
                        <input type="hidden" name="@nameof(OvaControlData.Title)" @bind="ControlData.Title"/>
                        <input type="hidden" name="@nameof(OvaControlData.NotificationTime)" @bind="ControlData.NotificationTime"/>
                        <input type="hidden" name="@nameof(OvaControlData.UserId)" @bind="ControlData.UserId"/>
                        <input type="hidden" name="@nameof(OvaControlData.LoaderSelector)" @bind="ControlData.LoaderSelector"/>
                        <input type="hidden" name="@nameof(OvaControlData.HasFeed)" value="@ControlData.HasFeed.ToString()"/>
                        <button type="submit" class="btn btn-primary btn-xs">
                            Add <span class="hidden md:contents">to Notifications</span>
                        </button>
                    </div>
                </fieldset>
            </form>
        </Content>
    </WithMessage>
}

@code {

    [Parameter, EditorRequired] public OvaControlData? ControlData { get; set; }
    [Parameter] public string Message { get; set; } = string.Empty;
    [Parameter] public DomainError? DomainError { get; set; }
    
    private IReadOnlyDictionary<string, object> GetFilters(OvaControlData data)
    {
        return data.HasFeed
            ? new Dictionary<string, object>([Attributes.HasFeed]).AsReadOnly()
            : ReadOnlyDictionary<string, object>.Empty;
    }
}