@if (MovieInfo is not DefaultAdminMovieControlParams)
{
    <form hx-post="movies/remove"
          hx-confirm="@($"Do you want remove {MovieInfo.Title} from the Movies library?")"
          hx-indicator="@LoaderSelector"
          hx-target="section#main-grid"
          hx-swap="outerHTML">
        <AntiforgeryToken/>
        <input type="hidden" name="@nameof(SeriesToRemove.Id)" value="@MovieInfo.Id"/>
        <input type="hidden" name="@nameof(SeriesToRemove.Season)" value="@MovieInfo.Season"/>
        <input type="hidden" name="@nameof(SeriesToRemove.Title)" value="@MovieInfo.Title"/>
        <button title="@($"Remove {MovieInfo.Title}")" type="submit" class="btn btn-error btn-xs btn-circle">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
            </svg>
        </button>
    </form>
}


@code {
    [Parameter, EditorRequired] public AdminMovieControlParams MovieInfo { get; set; } = new DefaultAdminMovieControlParams();
    [Parameter, EditorRequired] public string LoaderSelector { get; set; } = string.Empty;
}