@using AnimeFeedManager.Common.Domain
<div class="flex flex-wrap gap-3">
    <AdminCard Title="Update Latest" LoaderId="@_latestSeasonLoader">
        <form class="card-actions form-control"
              hx-put="@GetLatestPath()"
              hx-indicator="@($"#{_latestSeasonLoader}")"
              hx-swap="none">
            <AntiforgeryToken/>
            <button type="submit" class="btn btn-primary mt-4">
                Update Latest
            </button>
        </form>
    </AdminCard>

    <AdminCard Title="Update by Season" LoaderId="@_bySeasonLoader">
        <form hx-put="@GetSeasonPath()"
              hx-indicator="@($"#{_bySeasonLoader}")"
              hx-swap="none">
            <AntiforgeryToken/>

            <fieldset class="form-control">
                <label class="label">
                    <span class="label-text">Season</span>
                </label>

                <select name="season" class="select" title="Season Selection" @bind="SelectedSeason">
                    <option value="@Season.Spring.ToString()">Spring</option>
                    <option value="@Season.Summer.ToString()">Summer</option>
                    <option value="@Season.Fall.ToString()">Fall</option>
                    <option value="@Season.Winter.ToString()">Winter</option>
                </select>

                <label class="label">
                    <span class="label-text">Year</span>
                </label>

                <input name="year"
                       type="number"
                       class="input input-bordered invalid:input-error required:!input-bordered"
                       placeholder="Input year"
                       required
                       min="@_minYear.ToString()"
                       max="@_maxYear.ToString()"
                       @bind="Year"/>
            </fieldset>
            <button type="submit" class="btn btn-primary mt-4">Update Season</button>
        </form>
    </AdminCard>

    @switch (SeriesType)
    {
        case SeriesType.Tv:
            <AdminCard Title="Update Titles" LoaderId="@_titlesLoader">
                <form class="card-actions form-control"
                      hx-put="@GetAdditionalPath()"
                      hx-indicator="@($"#{_titlesLoader}")"
                      hx-swap="none">
                    <AntiforgeryToken/>
                    <button type="submit" class="btn btn-primary mt-4">
                        Update Titles
                    </button>
                </form>
            </AdminCard>
            break;
        case SeriesType.Ova:
            <AdminCard Title="Update Feed" LoaderId="@_ovasFeedLoader">
                <form class="card-actions form-control"
                      hx-put="@GetAdditionalPath()"
                      hx-indicator="@($"#{_ovasFeedLoader}")"
                      hx-swap="none">
                    <AntiforgeryToken/>
                    <button type="submit" class="btn btn-primary mt-4">
                        Update Ovas Feed
                    </button>
                </form>
            </AdminCard>
            break;
        case SeriesType.Movie:
            break;
    }
</div>

@code {
    [Parameter, EditorRequired] public SeriesType SeriesType { get; set; } = SeriesType.None;

    private readonly string _latestSeasonLoader = IdHelpers.GetUniqueName("admin-card-loader");
    private readonly string _bySeasonLoader = IdHelpers.GetUniqueName("admin-card-loader");
    private readonly string _titlesLoader = IdHelpers.GetUniqueName("admin-card-loader");
    private readonly string _ovasFeedLoader = IdHelpers.GetUniqueName("admin-card-loader");

    private readonly int _maxYear = DateTimeOffset.UtcNow.Year + 1;
    private const int _minYear = 2000;
    private int Year { get; set; } = DateTimeOffset.UtcNow.Year;
    private string SelectedSeason { get; set; } = Season.Spring.ToString();

    private string GetLatestPath()
    {
        return SeriesType switch
        {
            SeriesType.Tv => "/admin/tv",
            SeriesType.Ova => "/admin/ovas",
            SeriesType.Movie => "/admin/movies",
            _ => "/admin/noop"
        };
    }

    private string GetSeasonPath()
    {
        return SeriesType switch
        {
            SeriesType.Tv => "/admin/tv/season",
            SeriesType.Ova => "/admin/ovas/season",
            SeriesType.Movie => "/admin/movies/season",
            _ => "/admin/noop"
        };
    }

    private string GetAdditionalPath()
    {
        return SeriesType switch
        {
            SeriesType.Tv => "/admin/tv/titles",
            SeriesType.Ova => "/admin/ovas/feed",
            _ => "/admin/noop"
        };
    }

}