@using AnimeFeedManager.Common.Domain
@inherits AdminSeriesCardBase
<div class="flex flex-wrap gap-3">
    <AdminCard Title="Update Latest" LoaderId="@LatestSeasonLoader">
        <form class="card-actions form-control"
              hx-put="/admin/ovas"
              hx-indicator="@($"#{LatestSeasonLoader}")"
              hx-swap="none"
              x-data="{ keepFeed: true}">
            <AntiforgeryToken/>
            <fieldset class="form-control">
                <input id="ovas-latest-check-value"
                       type="hidden"
                       x-model="keepFeed"
                       name="@(nameof(ShorSeriesLatestSeason.KeeepFeed))"/>

                <label class="label" for="ovas-latest-check">
                    <span class="label-text">Keep Feed</span>
                </label>

                <input id="ovas-latest-check"
                       type="checkbox"
                       class="toggle"
                       x-model="keepFeed"/>
            </fieldset>
            <button type="submit" class="btn btn-primary mt-4">
                Update Latest
            </button>
        </form>
    </AdminCard>

    <AdminCard Title="Update by Season" LoaderId="@BySeasonLoader">
        <form hx-put="/admin/ovas/season"
              hx-indicator="@($"#{BySeasonLoader}")"
              hx-swap="none"
              x-data="{ keepFeed: true}">
            <AntiforgeryToken/>

            <fieldset class="form-control">
                <label class="label" for="ovas-season">
                    <span class="label-text">Season</span>
                </label>

                <select id="ovas-season" name="@(nameof(ShorSeriesSeason.Season))" class="select" title="Season Selection" @bind="SelectedSeason">
                    <option value="@Season.Spring.ToString()">Spring</option>
                    <option value="@Season.Summer.ToString()">Summer</option>
                    <option value="@Season.Fall.ToString()">Fall</option>
                    <option value="@Season.Winter.ToString()">Winter</option>
                </select>

                <label class="label" for="ovas-year">
                    <span class="label-text">Year</span>
                </label>

                <input name="@(nameof(ShorSeriesSeason.Year))"
                       id="ovas-year"
                       type="number"
                       class="input input-bordered invalid:input-error required:!input-bordered"
                       placeholder="Input year"
                       required
                       min="@MinYear.ToString()"
                       max="@MaxYear.ToString()"
                       @bind="Year"/>

                <input id="ovas-season-check-value"
                       type="hidden"
                       x-model="keepFeed"
                       name="@(nameof(ShorSeriesLatestSeason.KeeepFeed))"/>
                
                <label class="label" for="ovas-season-check">
                    <span class="label-text mr-4">Keep Feed</span>
                </label>

                <input id="ovas-season-check" 
                       type="checkbox"
                       class="toggle"
                       x-model="keepFeed"/>
            </fieldset>
            <button type="submit" class="btn btn-primary mt-4">Update Season</button>
        </form>
    </AdminCard>

    <AdminCard Title="Update Feed" LoaderId="@_ovasFeedLoader">
        <form class="card-actions form-control"
              hx-put="/admin/ovas/feed"
              hx-indicator="@($"#{_ovasFeedLoader}")"
              hx-swap="none">
            <AntiforgeryToken/>
            <button type="submit" class="btn btn-primary mt-4">
                Update Ovas Feed
            </button>
        </form>
    </AdminCard>
</div>

@code {
    private readonly string _ovasFeedLoader = IdHelpers.GetUniqueName("admin-card-loader");
}