@using AnimeFeedManager.Common.Domain
@inherits AdminSeriesCardBase
<div class="flex flex-wrap gap-3">
    <AdminCard Title="Update Latest" LoaderId="@LatestSeasonLoader">
        <form class="card-actions form-control"
              hx-put="/admin/ovas"
              hx-indicator="@($"#{LatestSeasonLoader}")"
              hx-swap="none"
              x-data="{ keepFeed: true}">
            <AntiforgeryToken/>
            <fieldset class="fieldset w-full">
                <input id="ovas-latest-check-value"
                       type="hidden"
                       x-model="keepFeed"
                       name="@(nameof(ShorSeriesLatestSeason.KeeepFeed))"/>

                <label class="fieldset-label w-full mt-2" for="ovas-latest-check">
                    Keep Feed
                    <input id="ovas-latest-check"
                           type="checkbox"
                           class="toggle"
                           x-model="keepFeed"/>
                </label>
            </fieldset>
            <button type="submit" class="btn btn-primary mt-2">
                Update Latest
            </button>
        </form>
    </AdminCard>

    <AdminCard Title="Update by Season" LoaderId="@BySeasonLoader">
        <form hx-put="/admin/ovas/season"
              hx-indicator="@($"#{BySeasonLoader}")"
              hx-swap="none"
              x-data="{ keepFeed: true}">
            <AntiforgeryToken/>

            <fieldset class="fieldset w-full">
                <label class="select mt-2 w-full" for="ovas-season">
                    <span class="label">Season</span>

                    <select id="ovas-season" name="@(nameof(ShortSeriesSeason.Season))" class="select"
                            title="Season Selection" @bind="SelectedSeason">
                        <option value="@Season.Spring.ToString()">Spring</option>
                        <option value="@Season.Summer.ToString()">Summer</option>
                        <option value="@Season.Fall.ToString()">Fall</option>
                        <option value="@Season.Winter.ToString()">Winter</option>
                    </select>
                </label>

                <label class="input mt-2 w-full" for="ovas-year">
                    <span class="label">Year</span>

                    <input name="@(nameof(ShortSeriesSeason.Year))"
                           id="ovas-year"
                           type="number"
                           class="input validator"
                           placeholder="Input year"
                           required
                           min="@MinYear.ToString()"
                           max="@MaxYear.ToString()"
                           @bind="Year"/>
                </label>
                
                <input id="ovas-season-check-value"
                       type="hidden"
                       x-model="keepFeed"
                       name="@(nameof(ShorSeriesLatestSeason.KeeepFeed))"/>

                <label class="fieldset-label w-full mt-2" for="ovas-season-check">
                    Keep Feed
                    <input id="ovas-season-check"
                           type="checkbox"
                           class="toggle"
                           x-model="keepFeed"/>
                </label>


            </fieldset>
            <button type="submit" class="btn btn-primary mt-4">Update Season</button>
        </form>
    </AdminCard>

    <AdminCard Title="Update Feed for Season" LoaderId="@_ovasSeasonFeedLoader">
        <form hx-put="/admin/ovas/season-feed"
              hx-indicator="@($"#{_ovasSeasonFeedLoader}")"
              hx-swap="none">
            <AntiforgeryToken/>

            <fieldset class="fieldset w-full">
                <label class="select mt-2 w-full">
                    <span class="label">Season</span>

                    <select name="@nameof(BasicSeason.Season)" class="select" title="Season Selection"
                            @bind="SelectedSeason">
                        <option value="@Season.Spring.ToString()">Spring</option>
                        <option value="@Season.Summer.ToString()">Summer</option>
                        <option value="@Season.Fall.ToString()">Fall</option>
                        <option value="@Season.Winter.ToString()">Winter</option>
                    </select>
                </label>

                <label class="input mt-2 w-full">
                    <span class="label">Year</span>
                    
                    <input name="@nameof(BasicSeason.Year)"
                           type="number"
                           class="input validator"
                           placeholder="Input year"
                           required
                           min="@MinYear.ToString()"
                           max="@MaxYear.ToString()"
                           @bind="Year"/>
                </label>
            </fieldset>
            <button type="submit" class="btn btn-primary mt-4">Update Season Feed</button>
        </form>
    </AdminCard>

    <AdminCard Title="Update Feed for All Seasons" LoaderId="@_ovasFeedLoader">
        <form class="card-actions form-control"
              hx-put="/admin/ovas/feed"
              hx-indicator="@($"#{_ovasFeedLoader}")"
              hx-confirm="Do you want to trigger update of ovas feed?"
              hx-swap="none">
            <AntiforgeryToken/>
            <button type="submit" class="btn btn-primary mt-4">
                Update Ovas Feed
            </button>
        </form>

    </AdminCard>
</div>

@code {
    private readonly string _ovasFeedLoader = IdHelpers.GetUniqueName("admin-card-loader");
    private readonly string _ovasSeasonFeedLoader = IdHelpers.GetUniqueName("admin-card-loader");
}