@using AnimeFeedManager.Common.Domain
@inherits AdminSeriesCardBase
<div class="flex flex-wrap gap-3">
    <AdminCard Title="Update Latest" LoaderId="@LatestSeasonLoader">
        <form class="card-actions form-control"
              hx-put="/admin/movies"
              hx-indicator="@($"#{LatestSeasonLoader}")"
              hx-swap="none"
              x-data="{ keepFeed: true}">
            <AntiforgeryToken/>
            <fieldset class="form-control">
                <input id="movies-latest-check-value"
                       type="hidden"
                       x-model="keepFeed"
                       name="@(nameof(ShorSeriesLatestSeason.KeeepFeed))"/>

                <label class="label" for="movies-latest-check">
                    <span class="label-text">Keep Feed</span>
                </label>

                <input id="movies-latest-check"
                       type="checkbox"
                       class="toggle"
                       x-model="keepFeed"/>
            </fieldset>
            <button type="submit" class="btn btn-primary mt-4">
                Update Latest
            </button>
        </form>
    </AdminCard>

    <AdminCard Title="Update by Season" LoaderId="@BySeasonLoader">
        <form hx-put="/admin/movies/season"
              hx-indicator="@($"#{BySeasonLoader}")"
              hx-swap="none"
              x-data="{ keepFeed: true}">
            <AntiforgeryToken/>

            <fieldset class="form-control">
                <label class="label" for="movies-season">
                    <span class="label-text">Season</span>
                </label>

                <select id="movies-season" name="@(nameof(ShortSeriesSeason.Season))" class="select"  title="Season Selection" @bind="SelectedSeason">
                    <option value="@Season.Spring.ToString()">Spring</option>
                    <option value="@Season.Summer.ToString()">Summer</option>
                    <option value="@Season.Fall.ToString()">Fall</option>
                    <option value="@Season.Winter.ToString()">Winter</option>
                </select>

                <label class="label" for="movies-year">
                    <span class="label-text">Year</span>
                </label>

                <input name="@(nameof(ShortSeriesSeason.Year))"
                       id="movies-year"
                       type="number"
                       class="input input-bordered invalid:input-error required:!input-bordered"
                       placeholder="Input year"
                       required
                       min="@MinYear.ToString()"
                       max="@MaxYear.ToString()"
                       @bind="Year"/>

                <input id="movies-season-check-value"
                       type="hidden"
                       x-model="keepFeed"
                       name="@(nameof(ShorSeriesLatestSeason.KeeepFeed))"/>

                <label class="label" for="movies-season-check">
                    <span class="label-text mr-4">Keep Feed</span>
                </label>

                <input id="movies-season-check"
                       type="checkbox"
                       class="toggle"
                       x-model="keepFeed"/>
            </fieldset>
            <button type="submit" class="btn btn-primary mt-4">Update Season</button>
        </form>
    </AdminCard>

    <AdminCard Title="Update Feed for Season" LoaderId="@_moviesSeasonFeedLoader">
        <form hx-put="/admin/movies/season-feed"
              hx-indicator="@($"#{_moviesSeasonFeedLoader}")"
              hx-swap="none">
            <AntiforgeryToken/>

            <fieldset class="form-control">
                <label class="label">
                    <span class="label-text">Season</span>
                </label>

                <select name="@nameof(BasicSeason.Season)" class="select" title="Season Selection" @bind="SelectedSeason">
                    <option value="@Season.Spring.ToString()">Spring</option>
                    <option value="@Season.Summer.ToString()">Summer</option>
                    <option value="@Season.Fall.ToString()">Fall</option>
                    <option value="@Season.Winter.ToString()">Winter</option>
                </select>

                <label class="label">
                    <span class="label-text">Year</span>
                </label>

                <input name="@nameof(BasicSeason.Year)"
                       type="number"
                       class="input input-bordered invalid:input-error required:!input-bordered"
                       placeholder="Input year"
                       required
                       min="@MinYear.ToString()"
                       max="@MaxYear.ToString()"
                       @bind="Year"/>
            </fieldset>
            <button type="submit" class="btn btn-primary mt-4">Update Season Feed</button>
        </form>
    </AdminCard>

    <AdminCard Title="Update Feed" LoaderId="@_moviesFeedLoader">
        <form class="card-actions form-control"
              hx-put="/admin/movies/feed"
              hx-indicator="@($"#{_moviesFeedLoader}")"
              hx-confirm="Do you want to trigger update of movies feed?"
              hx-swap="none">
            <AntiforgeryToken/>
            <button type="submit" class="btn btn-primary mt-4">
                Update Movies Feed
            </button>
        </form>
    </AdminCard>
</div>

@code {
    private readonly string _moviesFeedLoader = IdHelpers.GetUniqueName("admin-card-loader");
    private readonly string _moviesSeasonFeedLoader = IdHelpers.GetUniqueName("admin-card-loader");
}