@using AnimeFeedManager.Common.Domain
@inherits AdminSeriesCardBase
<div class="flex flex-wrap gap-3">
    <AdminCard Title="Update Latest" LoaderId="@LatestSeasonLoader">
        <form class="card-actions form-control"
              hx-put="/admin/tv"
              hx-indicator="@($"#{LatestSeasonLoader}")"
              hx-swap="none">
            <AntiforgeryToken/>
            <button type="submit" class="btn btn-primary mt-4">
                Update Latest
            </button>
        </form>
    </AdminCard>

    <AdminCard Title="Update by Season" LoaderId="@BySeasonLoader">
        <form hx-put="/admin/tv/season"
              hx-indicator="@($"#{BySeasonLoader}")"
              hx-swap="none">
            <AntiforgeryToken/>

            <fieldset class="form-control">
                <label class="label">
                    <span class="label-text">Season</span>
                </label>

                <select name="season" class="select" title="Season Selection" @bind="SelectedSeason">
                    <option value="@Season.Spring.ToString()">Spring</option>
                    <option value="@Season.Summer.ToString()">Summer</option>
                    <option value="@Season.Fall.ToString()">Fall</option>
                    <option value="@Season.Winter.ToString()">Winter</option>
                </select>

                <label class="label">
                    <span class="label-text">Year</span>
                </label>

                <input name="year"
                       type="number"
                       class="input input-bordered invalid:input-error required:!input-bordered"
                       placeholder="Input year"
                       required
                       min="@MinYear.ToString()"
                       max="@MaxYear.ToString()"
                       @bind="Year"/>
            </fieldset>
            <button type="submit" class="btn btn-primary mt-4">Update Season</button>
        </form>
    </AdminCard>

    <AdminCard Title="Update Titles" LoaderId="@_titlesLoader">
        <form class="card-actions form-control"
              hx-put="/admin/tv/titles"
              hx-indicator="@($"#{_titlesLoader}")"
              hx-swap="none">
            <AntiforgeryToken/>
            <button type="submit" class="btn btn-primary mt-4">
                Update Titles
            </button>
        </form>
    </AdminCard>
</div>

@code {
    private readonly string _titlesLoader = IdHelpers.GetUniqueName("admin-card-loader");

}