@using System.Collections.Immutable
@using AnimeFeedManager.Common.Utils
@using AnimeFeedManager.Features.Ovas.Subscriptions.IO
<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body,
        p,
        div {
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            font-size: 16px;
        }
    </style>
</head>

<body>
<p style="color: #28404F">Available download links based on your subscription:</p>
@foreach (var series in Feed)
{
    <p style="line-height: 2; font-size: 18px; color: #2bbbb2; margin: 0;">
        <strong>@series.SeriesTitle</strong>
    </p>
    <table style="padding: 2px 0;">
        <tbody>
        @foreach (var availableLinks in series.Links)
        {
            <tr>
                <td style="vertical-align:top; padding: 0 15px 15px 15px;">
                    <p style="font-size: 15px; color: #2bbbb2; margin: 0;">@availableLinks.LinkTitle</p>
                    @{
                    var links = availableLinks.Links;
                    }
                    @for (int i = 0; i < links.Count(); i++)
                    {
                    <a style="margin-right: 7px" href="@links[i].Link" title="@availableLinks.LinkTitle">@MappingUtils.SplitWordsByCase(links[i].Type.ToString())</a>
                    @if (i < links.Count() - 1)
                    {
                    <span> | </span>
                    }
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
</body>

</html>

@code {
    [Parameter] public ImmutableList<FeedProcessedOva> Feed { get; set; } = ImmutableList<FeedProcessedOva>.Empty;
}