@implements IRenderableComponent<TvInterestedViewModel>
@if (Model is not null)
{
    <ExpandableFab>
        <Buttons>
            <FabButtonContainer Label="Add to Interested">
                <EditForm Model="@Model"
                          hx-post="tv/add-interested"
                          hx-target="closest .fab-container"
                          hx-swap="outerHTML"
                          hx-indicator="@Model.LoaderSelector"
                          hx-confirm="@($"Do you want add {Model.SeriesTitle} from your interested list?")">
                    <input type="hidden" name="@nameof(Model.UserId)" value="@Model.UserId"/>
                    <input type="hidden" name="@nameof(Model.SeriesId)" value="@Model.SeriesId"/>
                    <input type="hidden" name="@nameof(Model.SeriesTitle)" value="@Model.SeriesTitle"/>
                    <input type="hidden" name="@nameof(Model.LoaderSelector)" value="@Model.LoaderSelector"/>
                    <input type="hidden" name="@nameof(Model.AdminView)" value="@(Model.AdminView.ToString())"/>


                    <button type="submit" class="btn btn-sm btn-circle btn-success shadow-md"
                            aria-label="Add to Interested @Model.SeriesTitle">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"/>
                        </svg>
                    </button>
                </EditForm>
            </FabButtonContainer>
        </Buttons>
    </ExpandableFab>
}

@code {
    [Parameter, EditorRequired] public TvInterestedViewModel? Model { get; set; }

    public static RenderFragment AsRenderFragment(TvInterestedViewModel viewModel) => builder =>
    {
        builder.OpenComponent<ForInterested>(1);
        builder.AddAttribute(2, nameof(Model), viewModel);
        builder.CloseComponent();
    };

}