@implements IRenderableComponent<TvSubscriptionViewModel>
@if (Model is not null)
{
    <EditForm Model="@Model"
              hx-post="tv/subscribe"
              hx-swap="outerHTML"
              hx-indicator="@Model.LoaderSelector"
              hx-confirm="@($"Do you want add {Model.SeriesTitle} to your subscriptions?")">
        <input type="hidden" name="@nameof(Model.UserId)" value="@Model.UserId"/>
        <input type="hidden" name="@nameof(Model.SeriesId)" value="@Model.SeriesId"/>
        <input type="hidden" name="@nameof(Model.SeriesTitle)" value="@Model.SeriesTitle"/>
        <input type="hidden" name="@nameof(Model.LoaderSelector)" value="@Model.LoaderSelector"/>
        <input type="hidden" name="@nameof(Model.SeriesFeedTitle)" value="@Model.SeriesFeedTitle"/>
        <input type="hidden" name="@nameof(Model.CardBadgeId)" value="@Model.CardBadgeId"/>
        <input type="hidden" name="@nameof(Model.AdminView)" value="@(Model.AdminView.ToString())"/>

        <FabButtonContainer Label="Subscribe">
            <button class="btn btn-sm btn-circle btn-success shadow-md"
                    aria-label="Subscribe to @Model.SeriesTitle">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                </svg>
            </button>
        </FabButtonContainer>
    </EditForm>
}

@code {
    [Parameter, EditorRequired] public TvSubscriptionViewModel? Model { get; set; }

    public static RenderFragment AsRenderFragment(TvSubscriptionViewModel viewModel) => builder =>
    {
        builder.OpenComponent<ForSubscription>(0);
        builder.AddAttribute(1, nameof(Model), viewModel);
        builder.CloseComponent();
    };

}