@inherits NotAvailableSeriesBase

@if (ControlData is not null)
{
    <WithMessage Message="@Message" DomainError="@DomainError">
        <Content>
            <form hx-post="tv/remove-interested"
                  hx-swap="outerHTML"
                  hx-confirm="@($"Do you want remove {ControlData.Title} from your interested list?")">
                <AntiforgeryToken/>
                <fieldset class="flex flex-nowrap items-center  justify-between">
                    <div class="tooltip tooltip-warning" data-tip="Not Available">
                        <div class="badge badge-warning"></div>
                    </div>
                    <div>
                        <input type="hidden" name="@nameof(NotAvailableControlData.Title)" @bind="ControlData.Title"/>
                        <input type="hidden" name="@nameof(NotAvailableControlData.UserId)" @bind="ControlData.UserId"/>
                        <input type="hidden" name="@nameof(NotAvailableControlData.SeriesId)" @bind="ControlData.SeriesId"/>
                        <button type="submit" class="btn btn-secondary btn-xs">Remove from Interested</button>
                    </div>
                </fieldset>
            </form>
        </Content>
    </WithMessage>
}