@inherits NotAvailableSeriesBase

@if (ControlData is not null)
{
    <WithMessage Message="@Message" DomainError="@DomainError">
        <Content>
            <form hx-post="tv/add-interested"
                  hx-swap="outerHTML"
                  hx-confirm="@($"Do you want to add {ControlData.Title} to your interested list?")">
                <AntiforgeryToken/>
                <fieldset class="flex flex-nowrap items-center justify-between">
                    <div class="tooltip tooltip-warning" data-tip="Not Available">
                        <div class="badge badge-warning"></div>
                    </div>
                    <div>
                        <input type="hidden" name="@nameof(AvailableTvSeriesControlData.Title)" @bind="ControlData.Title"/>
                        <input type="hidden" name="@nameof(AvailableTvSeriesControlData.UserId)" @bind="ControlData.UserId"/>
                        <button type="submit" class="btn btn-primary btn-xs">Add to Interested</button>
                    </div>
                </fieldset>
            </form>
        </Content>
    </WithMessage>
}