@inherits AvailableSeriesBase

@if (ControlData is not null)
{
    <WithMessage Message="@Message" DomainError="@DomainError">
        <Content>
            <form hx-post="tv/subscribe"
                  hx-swap="outerHTML"
                  hx-indicator="@ControlData.LoaderSelector"
                  hx-confirm="@($"Do you want to subscribe to {ControlData.Title}?")">
                <AntiforgeryToken/>
                <fieldset class="flex flex-nowrap items-center justify-between">
                    <div class="tooltip tooltip-success" data-tip="Available">
                        <div class="badge badge-success"></div>
                    </div>
                    <div>
                        <input type="hidden" name="@nameof(AvailableTvSeriesControlData.Title)" @bind="ControlData.Title"/>
                        <input type="hidden" name="@nameof(AvailableTvSeriesControlData.FeedId)" @bind="ControlData.FeedId"/>
                        <input type="hidden" name="@nameof(AvailableTvSeriesControlData.UserId)" @bind="ControlData.UserId"/>
                        <input type="hidden" name="@nameof(AvailableTvSeriesControlData.LoaderSelector)" @bind="ControlData.LoaderSelector"/>
                        <button type="submit" class="btn btn-primary btn-xs">Subscribe</button>
                    </div>
                </fieldset>
            </form>
        </Content>
    </WithMessage>
}