@* Sticky filter button for filtering series by status *@
<div class="tooltip tooltip-left" data-tip="Filters">
    <details class="dropdown dropdown-end" x-data="{ open: false }" x-bind:open="open" x-on:toggle="open = $el.open" x-on:click.outside="open = false">
        <summary class="btn btn-circle btn-lg bg-gradient-to-br from-accent to-secondary text-secondary-content shadow-lg"
                 aria-haspopup="true"
                 aria-label="Filter series">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z" />
        </svg>
    </summary>
    <ul class="dropdown-content menu bg-base-100 rounded-box shadow-xl w-52 p-2 z-10">
        <li>
            <button type="button" x-on:click="$dispatch('filter-changed', { filter: '' }); open = false">
                @CheckIcon("selectedFilter === ''")
                All
            </button>
        </li>
        <li>
            <button type="button" x-on:click="$dispatch('filter-changed', { filter: 'available' }); open = false">
                @CheckIcon("selectedFilter === 'available'")
                Available
            </button>
        </li>
        @if (IsAuthenticated)
        {
            <li>
                <button type="button" x-on:click="$dispatch('filter-changed', { filter: 'subscribed' }); open = false">
                    @CheckIcon("selectedFilter === 'subscribed'")
                    Subscribed
                </button>
            </li>
            <li>
                <button type="button" x-on:click="$dispatch('filter-changed', { filter: 'interested' }); open = false">
                    @CheckIcon("selectedFilter === 'interested'")
                    Interested
                </button>
            </li>
        }
        <li>
            <button type="button" x-on:click="$dispatch('filter-changed', { filter: 'completed' }); open = false">
                @CheckIcon("selectedFilter === 'completed'")
                Completed
            </button>
        </li>
        <li>
            <button type="button" x-on:click="$dispatch('filter-changed', { filter: 'not-available' }); open = false">
                @CheckIcon("selectedFilter === 'not-available'")
                Not Available
            </button>
        </li>
    </ul>
    </details>
</div>

@code {
    [Parameter] public bool IsAuthenticated { get; set; }

    private static RenderFragment CheckIcon(string condition) => @<span class="size-4" x-show="@condition" x-cloak>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-4" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
        </svg>
    </span>;
}
