@if (SeriesInfo is not null)
{
    <article id="@Id" class="card card-side bg-base-100 image-full shadow-sm group 
        hover:shadow-xl transition-all duration-300 series-card">
        <figure class="overflow-hidden">
            <img
                src="@SeriesInfo.ImageUrl"
                alt="@SeriesInfo.Title"
                class="!brightness-[0.20] 
                       group-hover:!brightness-[0.6] 
                       group-hover:scale-105
                       transition-all duration-300"
                loading="lazy"/>
        </figure>
        <div class="card-body">
            <div id="@LoaderId" class="absolute top-0 right-0 mr-3 mt-1 htmx-indicator">
                <span class="loading loading-spinner"></span>
            </div>

            <h2 class="card-title text-primary font-bold text-lg 
        group-hover:[text-shadow:_1px_1px_0_black,_-1px_-1px_0_black,_1px_-1px_0_black,_-1px_1px_0_black]">
                @SeriesInfo.Title
            </h2>

            <p class="group-hover:[text-shadow:_1px_1px_0_black,_-1px_-1px_0_black] group-hover:font-bold">
                @if (!string.IsNullOrWhiteSpace(SeriesInfo.Synopsis))
                {
                    @SeriesInfo.Synopsis
                }
                else
                {
                    <span class="text-warning flex gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z"/>
                        </svg>
                        Synopsis Not Available
                    </span>
                }
            </p>
            @if (CardControls is not null)
            {
               
                <div class="card-actions items-center justify-between" x-data>
                  
                    <button class="btn btn-circle btn-ghost btn-sm" @click="$refs.modal.showModal()"
                            aria-label="View image">
                        <!-- Eye icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"/>
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                        </svg>
                    </button>

                    <!-- Modal -->
                    <dialog x-ref="modal" class="modal">
                        <div class="modal-box p-0">
                            <img src="@SeriesInfo.ImageUrl"
                                 alt="@SeriesInfo.Title"
                                 class="w-full h-auto brightness-100 scale-100 object-contain"/>
                        </div>
                        <form method="dialog" class="modal-backdrop">
                            <button aria-label="Close">close</button>
                        </form>
                    </dialog>
                    
                    @CardControls
                </div>
            }
        </div>
    </article>
}

@code {
    [Parameter] public SeriesCardViewModel? SeriesInfo { get; set; }
    [Parameter] public RenderFragment? CardControls { get; set; }
    [Parameter, EditorRequired] public string LoaderId { get; set; } = string.Empty;
    [Parameter, EditorRequired] public string Id { get; set; } = string.Empty;

    private string ModalId => $"modal-{Id}";
}